* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style for the Horizontal Nav Bad */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* Style the header */
header {
  background-color: #058d8d;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.container {
    border: 3px solid blue;
    padding: 20px 40px 40px;
    max-width: 640px;
    &__image {
        width: 250px;
        margin: 30px 30px 30px 0;
        float: right;
    }
    &__text {
		display: inline;
        float: left;
        }
    }
	
/* Style the content */
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: hsl(77, 53%, 89%);
  
}



/* Style the footer */
footer {
  background-color: #079e9e;
  padding: 10px;
  text-align: center;
  color: white;
}

