* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style for the Horizontal Nav Bad */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* Style the header */
header {
  background-color: #058d8d;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}
/* Set background image for index page body */
#photobody {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photobody::before {    
      content: "";
      background-image: url("images/jamesportrait.jpg");
      background-size: 50%;
	  background-repeat: no-repeat;
	  background-position: right top;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.45;
}




/* Style the footer */
footer {
  background-color: #079e9e;
  padding: 10px;
  text-align: center;
  color: white;
}

